coop/*
survival/*
dla_ziomkow/*

banned_*.cfg
*360*.cfg
game*.cfg
gpu*.ekv
cpu*.ekv
mem*.ekv
op08*.cfg
thirdperson*.cfg
nav*.cfg
moddefaults*.txt
buypresets*.vdf
controller*

ai.cfg
config_default.cfg
dathost.cfg
default.cfg
entity.cfg
give_all_items.cfg
listenserver.cfg
lab.cfg
map_edit.cfg
modsettings.cfg
random_client_names.vdf
render_radar.cfg
save_pos.log
server_blacklist.txt
settings_default.scr
sfm_defaultanimationgroups.txt
start.cfg
steering_wheel.cfg
test.cfg
user_default.scr
valve.rc